header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;

  li {
    margin-left: 24px;
  }
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: $gray-2;
  position: relative;
  transition: all 0.7s ease;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -40px;
    width: 2px;
    height: 0px;
    background: linear-gradient(100deg, rgba(233,29,34,0) 0%, #e91d22 100%);
    transition: all 0.7s ease;
  } 

  &:hover{
    color: $white;

    &::after {
      content: '';
      height: 40px;
    } 

  }
}

.nav-social {
  display: flex;
  
  svg{
    cursor: pointer;
    margin-left: 16px;
    
    path, circle{
      transition: .7s ease;
    }

    &:hover {
      path, circle{
        fill: $red-light;
        transform: translate3d(0, -3px, 0);
      }
    }
  }
}